.no-padding {
  padding: 0;
}
.dashboard {

  &__header {
    background-color: $base-color;
    color: $white;
    height: 120px;
  }

  &__name-container {
    transform: translateY(25%);
    position: relative;
  }

  &__avatar {
    background-image: url("http://www.alejakomiksu.com/gfx/newsy/Armada18_news.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
    height: 80px;
    margin: 0 auto;
    width: 80px;
    transform: translateY(25%);

    &:hover {
      cursor: pointer;
      zoom: 105%;
    }
  }

  &__logo {
    float: right;
    height: 80px;
    width: 80px;
    transform: translateY(25%)
  }
}

.setting-icon {
  font-size: 20px;

  &:before {
    display: block;
  }

  &:hover:before {
    animation: around 2000ms infinite linear normal;
    cursor: pointer;
  }
}


@keyframes around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dashboard__client-info {
  position: relative;
}

.dashboard__messages,
.client-info {
  background-color: $accent-color;
  border-radius: 4px;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 150px;

  &:before {
    border-style: solid;
    border-width: 0 11px 11px 7px;
    border-color: transparent transparent $accent-color transparent;
    content: "";
    height: 0;
    left: 15px;
    position: absolute;
    top: -7px;
    width: 0;
  }

  p {
    font-size: 13px;
  }

}

.client-info {
  top:108px;
}

.dashboard__message,
.client__data {
  background-color: $base-color;
  border-radius: 3px;
  font-size: 11px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 5px 0;
  width: 120px;
}

.envelope-icon {
  position: relative;
  font-size: 20px;

  &:after {
    content:"2";
    color: $white;
    background-color: $accent-color;
    border-radius: 50%;
    display: block;
    font-size: 13px;
    height: 15px;
    left: 8px;
    position: absolute;
    text-align: center;
    top: -3px;
    width: 15px;
  }

  &:hover {
    cursor: pointer;
  }
}


.setting-icon {
  padding-left: 10px;
}

.dashboard__menu{

  &__list {
    display:table;
  }

  &__item {
    display: table-cell;
    height: 120px;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;;
    width: 69px;
    vertical-align: middle;

    &:hover {
      background-color: $black;
      cursor: pointer;
      height: 120px;
    }

    i {
      display: block;
      font-size: 25px;
      margin-bottom: 20%;
    }

    a {
      color: $white;
    }


  }
}

.menu__item--selected {
  background-color: $black;

  &:after {
    content: "";
    background-color: $black;
    border-radius: 50%;
    height: 14px;
    position: absolute;
    left: calc(50% - 7px);
    top: 112px;
    width: 14px;
  }
}

.power-icon,
.search-icon {
  font-size: 25px;

  &:hover {
    color: $dashboard-icon-hover;
  }
}

.search-icon {
  cursor: pointer;
  padding-right: 10px;
}

.power-icon {
  color: $accent-color;
}

.dashboard__search {
  &-container {
  padding-top: 40px;
  text-align: right;
  }

  &-window {
    display: inline-block;
    height: 30px;
    width: 70%;
  }
}
