* {
  box-sizing:border-box;
}

.login-wrapper {
  background-image: url(".././img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  height: 100vh;
  padding-top: 40px;
  width: 100%;
}

.login-row {
  display: table-cell;
  vertical-align: middle;
}

.login{

  &__logo {
    float: right;
  }

  &__app {
    border-radius: 5px;
    background-color: $base-color;
    color: $login-text-color;
    padding-top: 38px;
    padding-bottom: 125px;
    text-align: center;
  }

  &__tex {
    padding-bottom: 43px;
  }

  &__avatar {
    background-image: url("http://www.alejakomiksu.com/gfx/newsy/Armada18_news.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
    height: 94px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    transform: translateY(50%);
    width: 94px;
    z-index: 1;

    &:hover {
      background-size: 105%;
    }
  }

  &__form {
    border: 1px solid #47cbdc;
    border-radius: 4px;

    &-number {
      display: inline-block;
      margin-top: 80px;
    }
  }

  &__input-container {
    line-height: 34px;
    padding: 0 85px 0 51px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 21px;
    max-width: 580px;
  }

  &__name {
    -webkit-box-shadow: inset 0px 2px 0px 0px rgba(199,199,199,1);
    -moz-box-shadow: inset 0px 2px 0px 0px rgba(199,199,199,1);
    box-shadow: inset 0px 2px 0px 0px rgba(199,199,199,1);
    border-radius: 4px;
    float: left;
    margin: 0 auto;
    max-width: 406px;
    width: calc(100% - 38px);

    &:hover {
      background-color: #e0e0e0;
    }
  }

  &__validation-info {
    background-color: red;
    border-radius: 4px;
    color: $white;
    height: 34px;
    min-width: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 406px;
    position: relative;
    transform:translateX(-38px);

    &:before {
      border-style: solid;
      border-width: 0 6px 9px 6px;
      border-color: transparent transparent red transparent;
      content: "";
      height: 0;
      left: 20px;
      position: absolute;
      top: -7px;
      width: 0;
    }
  }
}

.btn-login__closed {
  background-color: #42cadb;
  border-radius: 50%;
  height: 18px;
  margin-top: 80px;
  width: 18px;
}

.btn-clipboard {
  height: 14px;
  width: 26px;

  &:before {
    content:"";
    background-image: url("./../img/icon-clipboard.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
  }
}

.btn {
  border-radius: 4px;
  font-size: 15px;
  height:31px;
  text-transform: uppercase;
  width: 118px;

  &:hover {
    background-color: #e0e0e0;
  }
}

.btn-go {
  background-color: $login-bg-color;
  color: #000;
  font-size: 15px;
  margin-bottom: 56px;
}

.btn-close-error {
  float:right;
  padding: 2px 5px 0;
}
